* {
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: rgb(55, 189, 194);
    padding-bottom: -1%;
  }
  
  .logor {
    display: flex;
    gap: 50px;
    font-size: 50px;
    font-family: "Impact", Verdana, fantasy;
    justify-content: space-between;
  }
  
  .uDjur {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1%;
  }
  .uDjur a {
    color: rgb(2, 2, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
  }

  .uDjur a:hover {
    background-color: white;
    color: black;
  }

  .shop {
    padding: 2%;
    color: rgb(121, 174, 218);
    text-decoration: none;
}

.vara {
    display: flex;
    justify-content: space-between;
}
  
.namnpåvara{
padding-left: 10%;
padding-right: 10%;
display: flex;
justify-content: space-between;
}

.kr{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}